__pycache__/
.cursor/
.env
.idea/
.ruff_cache/
.secrets.baseline
.venv
.vscode/
*.aac
*.crt
*.env
*.flac*
*.json
*.key
*.local
*.m4a
*.mp3
*.oggp
*.p12
*.pem
*.pfx
*.secret
*.wav
*.yaml
*.yml
build/
data/elections/*voters_*
data/voters_*
dist/
docs/
tests/config.js
