<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ site.title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
            </div>
        </div>
    </section>

    <!-- Main Content -->
    <div id="main">
        <section id="platform">
            <div class="inner">
                <header class="major">
                    <h2>Our Platform</h2>
                </header>
                <p>{{ content }}</p>
            </div>
        </section>
    </div>

    {% include footer.html %}

</body>

</html>
